body {
  font-family: "Playfair";
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/0b/33/df/0b33dfc105c1a9a00d2c333ddb8159c7.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  margin-top: 30%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #dfd110;
}
.container h2 {
  font-size: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.hidden {
  display: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 16px;
  background: #ffd700;
  color: white;
  font-weight: 700;
  width: 50%;
}

button:hover {
  background: #daa520;
}

.back-btn {
  background: #6c757d;
}

.back-btn:hover {
  background: #495057;
}

#tarot-output {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}
a {
  color: rgb(177, 109, 64);
}
.error-message {
  color: red;
  font-weight: 300;
}
.input_form p {
  color: #fff;
  margin-bottom: 5px;
}
.input_form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}
.input_form input {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 16px;
  width: 100%;
}
.buttons {
  margin-top: 20px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}
.buttons button:nth-child(2) {
  border: 2px solid #ffd700;
  background-color: transparent;
}
