<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Вход</title>
</head>
<body>
<h2>Войти</h2>
<form th:action="@{/perform_login}" method="post">
    <div th:if="${param.error}">
        Неверное имя пользователя или пароль
    </div>
    <div>
        <label>Имя пользователя: <input type="text" name="username"/></label>
    </div>
    <div>
        <label>Пароль: <input type="password" name="password"/></label>
    </div>
    <div>
        <input type="submit" value="Войти"/>
    </div>
    <a th:href="@{/auth/register}">Регистрация</a>
</form>
</body>
</html>